<h1>Crear/Editar Persona</h1>

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-group">
                <label for="inputState">Tipo Documento</label>
                <select id="inputState" class="form-control">
                    <option selected>Tipo</option>
                    <option value="1">Cedula Ciudadania</option>
                    <option value="2">Pasaporte</option>

                </select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Numero Documento</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Numero Documento">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Nombres</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Nombres">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Apellidos</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Apellidos">
        </div>
        <div class="form-group col-md-6">
            <label for="inputAddress">Numero Telefonico</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Numero Telefonico">
        </div>
        <div class="form-group col-md-6">
            <label for="inputAddress2">Edad </label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Edad">
        </div>
        <div class="form-group col-md-6">
            <label for="inputState">Estado</label>
            <select id="inputState" class="form-control">
                <option selected>Estado</option>
                <option value="1">''</option>
                <option value="2">''</option>
            </select>
        </div>
        <div class="form-group col-md-6"></div>
        <div class="form-group col-md-6">
            <h4>Roles</h4>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="custom-check-input" id="customCheck1">
                <label class="custom-check-label" for="customCheck1">Comprador</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="custom-check-input" id="customCheck1">
                <label class="custom-check-label" for="customCheck1">Vendedor</label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
    <button type="submit" class="btn btn-primary">Editar</button>
</form>