<h1>Gestionar Personas</h1>
<form>
      
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="form-group">
        <label for="inputState">Tipo Documento</label>
        <select id="inputState" class="form-control">
          <option selected>Tipo</option>
          <option value="1">Cedula Ciudadania</option>
          <option value="2">Pasaporte</option>

        </select>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Numero Documento</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Numero Documento"><br>
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">N Identificacion</th>
            <th scope="col">Tipo Identificacion</th>
            <th scope="col">Numero Telefonico</th>
            <th scope="col">Edad</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          
        </tbody>
      </table>
    </div>
</form>